// color
$slateblue: #494cb4;
$grey: #808080;
$red: #dc3545;
$blue: #007bff;
$skyblue: #87ceeb;
$green: #3fc95a;
$smokewhite: #fafafa;
$yellow: #ffcb56;
$black: #000000;
$white: #ffffff;
$darkgrey: #343a40;

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$mideum: 500;
$bold: 700;

// font-size
$XXsmall: 8px;
$Xsmall: 10px;
$small: 12px;
$base: 14px;
$large: 16px;
$Xlarge: 18px;
$XXlarge: 20px;
$h1: 32px;

// col AND row
.row {
  display: flex;
  width: 100%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: (100%/12) * $i;
  }
}

// Global setting

body {
  margin: 0px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $h1;
  margin: 0px;
}

h2 {
  font-size: $XXlarge;
}

h3 {
  font-size: $Xlarge;
  font-weight: $regular;
}

// Navbar

.navbar {
  width: 130px;
  position: fixed;
  transform: translateX(-85px);
  background-color: $slateblue;
  padding: 15px;
  height: 100%;
  z-index: 10;

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
  }

  .navbar__list__item {
    display: flex;
    padding: 5px 0px;
    margin: 10px 0px;
  }

  a {
    color: $white;
    font-size: $Xlarge;
  }

  span {
    margin-right: 20px;
  }

  &:hover {
    transform: translateX(0px);
    transition: 600ms;

    .navbar__list {
      align-items: flex-start;
      transition: 600ms;
    }

    .navbar__list__item {
      flex-direction: row-reverse;
      transition: 600ms;
    }

    span {
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}

// rightcontainer

.rightcontainer {
  transform: translate(45px);
  width: 100%;
}

// Header

.header {
  background-color: $white;
}

.header__container {
  padding-left: 10px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  height: 50px;
  box-shadow: 0px 1px 3px 2px lightgray;

  .header__search {
    display: flex;
    align-items: center;
  }

  .header__search input {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $grey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .header__search i {
    background-color: $darkgrey;
    color: $white;
    height: 30px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .header__menu {
    display: flex;
    padding-right: 50px;
  }

  .header__menu__item {
    position: relative;
    margin: 10px;
    color: $grey;
  }

  .header__menu__item--count {
    position: absolute;
    color: $white;
    font-size: xx-small;
    background-color: $red;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    right: -2px;
    top: -2px;
  }

  a {
    position: relative;
    color: $black;
  }
}
