// color
$slateblue: #494cb4;
$grey: #808080;
$red: #dc3545;
$blue: #007bff;
$skyblue: #87ceeb;
$green: #3fc95a;
$smokewhite: #fafafa;
$yellow: #ffcb56;
$black: #000000;
$white: #ffffff;
$darkgrey: #343a40;
$shadow: #d3d3d3;

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$mideum: 500;
$bold: 700;

// font-size
$XXsmall: 8px;
$Xsmall: 10px;
$small: 12px;
$base: 14px;
$large: 16px;
$Xlarge: 18px;
$XXlarge: 20px;
$h1: 32px;

// dashboard__Card__design
@mixin card($borderColor) {
  box-shadow: 1px 1px 2px 1px $shadow;
  margin: 10px;
  padding: 10px;
  border: 1px solid $smokewhite;
  border-radius: 5px;
  border-left: 3px $borderColor solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// col AND row
.row {
  display: flex;
  width: 100%;
}

@for $i from 1 through 12 {
  .col-md-#{$i} {
    width: (100%/12) * $i;
  }
}

// Global setting

body {
  margin: 0px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

a {
  text-decoration: none;
}

h1 {
  font-size: $h1;
  margin: 0px;
}

h2 {
  font-size: $XXlarge;
}

h3 {
  font-size: $Xlarge;
  font-weight: $regular;
}

// Navbar

.navbar {
  width: 130px;
  position: fixed;
  transform: translateX(-85px);
  background-color: $slateblue;
  padding: 15px;
  height: 100%;
  z-index: 10;

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
  }

  .navbar__list__item {
    display: flex;
    padding: 5px 0px;
    margin: 10px 0px;
  }

  a {
    color: $white;
    font-size: $Xlarge;
  }

  span {
    margin-right: 20px;
  }

  &:hover {
    transform: translateX(0px);
    transition: 600ms;

    .navbar__list {
      align-items: flex-start;
      transition: 600ms;
    }

    .navbar__list__item {
      flex-direction: row-reverse;
      transition: 600ms;
    }

    span {
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}

// rightcontainer

.rightcontainer {
  transform: translate(45px);
  width: 100%;
}

// Header

.header {
  position: relative;
  background-color: $white;
  box-shadow: 0px 3px 5px $shadow;
  z-index: 9;
}

.header__container {
  padding-left: 10px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  height: 50px;

  .header__search {
    display: flex;
    align-items: center;
  }

  .header__search input {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $grey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 150px;
    transition: 500ms all;
  }

  .header__search input:focus {
    width: 250px;
  }

  .header__search i {
    background-color: $darkgrey;
    color: $white;
    height: 30px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .header__menu {
    display: flex;
    padding-right: 50px;
  }

  .header__menu__item {
    position: relative;
    margin: 10px;
    color: $grey;
  }

  .header__menu__item--count {
    position: absolute;
    color: $white;
    font-size: xx-small;
    background-color: $red;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    right: -2px;
    top: -2px;
  }

  a {
    position: relative;
    color: $black;
  }

  .hamburg {
    position: absolute;
    right: 60px;
    display: none;
  }
}

// Dashboard

.dashboard {
  position: relative;
  background-color: $smokewhite;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 0px 10px;

  .dashboard__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 1200px;
  }

  .dashboard__cards__item:nth-child(1) {
    @include card($skyblue);
    margin-left: 0px;
  }

  .dashboard__cards__item:nth-child(2) {
    @include card($green);
  }

  .dashboard__cards__item:nth-child(3) {
    @include card($slateblue);
  }

  .dashboard__cards__item:nth-child(4) {
    @include card($yellow);
    margin-right: 40px;
  }

  .dashboard__cards__item i {
    font-size: 30px;
    color: $grey;
  }

  .dashboard__container__bottom {
    margin-top: 30px;
    display: flex;
  }

  .dashboard__chartbox {
    position: relative;
    box-shadow: 1px 1px 2px 1px $shadow;
    margin-right: 20px;
    border: 1px solid $smokewhite;
    border-radius: 5px;
  }

  .dashboard__chartbox__title {
    margin: 0px;
    padding: 5px 10px;
    background-color: $smokewhite;
    border-bottom: 1px solid $shadow;
    font-weight: bold;
  }

  .dashboard__tasks {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px $shadow;
    margin-right: 40px;
    height: 130px;
  }

  .dashboard__tasks__title {
    margin: 0px;
    padding: 5px 15px;
    background-color: $smokewhite;
    border-bottom: 1px solid $shadow;
    font-weight: bold;
  }

  .tasks__list__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $shadow;
    padding: 5px 15px;
  }

  .tasks__list__item h3 {
    margin: 0px;
  }

  .tasks__list__item span {
    background-color: $blue;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    line-height: 16px;
    color: $white;
  }

  .tasks__list__item:nth-child(1) span {
    width: 25px;
  }
}

// mobile display

@media screen and (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: (100%/12) * $i;
    }
  }

  .row {
    flex-wrap: wrap;
  }

  .header {
    .header__menu,
    .header__search {
      display: none;
    }

    .hamburg {
      display: block;
    }
  }

  .dashboard__container {
    width: 90%;
  }

  .dashboard {
    .dashboard__cards__item {
      margin: 0px;
    }

    .dashboard__cards__item:nth-child(1) {
      margin-left: 10px;
    }

    .dashboard__cards__item:nth-child(4) {
      margin-right: 10px;
    }

    .dashboard__container__bottom {
      margin-left: 10px;
      padding-right: 20px;
    }

    .dashboard__chartbox {
      margin-bottom: 40px;
    }

    .dashboard__tasks {
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }
}
