.row {
  display: flex;
  width: 100%;
}

.col-md-1 {
  width: 8.3333333333%;
}

.col-md-2 {
  width: 16.6666666667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.3333333333%;
}

.col-md-5 {
  width: 41.6666666667%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.3333333333%;
}

.col-md-8 {
  width: 66.6666666667%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.3333333333%;
}

.col-md-11 {
  width: 91.6666666667%;
}

.col-md-12 {
  width: 100%;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  margin: 0px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

.navbar {
  width: 130px;
  position: fixed;
  transform: translateX(-85px);
  background-color: #494cb4;
  padding: 15px;
  height: 100%;
  z-index: 10;
}
.navbar .navbar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
}
.navbar .navbar__list__item {
  display: flex;
  padding: 5px 0px;
  margin: 10px 0px;
}
.navbar a {
  color: #ffffff;
  font-size: 18px;
}
.navbar span {
  margin-right: 20px;
}
.navbar:hover {
  transform: translateX(0px);
  transition: 600ms;
}
.navbar:hover .navbar__list {
  align-items: flex-start;
  transition: 600ms;
}
.navbar:hover .navbar__list__item {
  flex-direction: row-reverse;
  transition: 600ms;
}
.navbar:hover span {
  margin-right: 0px;
  margin-left: 20px;
}

.rightcontainer {
  transform: translate(45px);
  width: 100%;
}

.header {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px #d3d3d3;
  z-index: 9;
}

.header__container {
  padding-left: 10px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
}
.header__container .header__search {
  display: flex;
  align-items: center;
}
.header__container .header__search input {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #808080;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 150px;
  transition: 500ms all;
}
.header__container .header__search input:focus {
  width: 250px;
}
.header__container .header__search i {
  background-color: #343a40;
  color: #ffffff;
  height: 30px;
  width: 25px;
  text-align: center;
  line-height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header__container .header__menu {
  display: flex;
  padding-right: 50px;
}
.header__container .header__menu__item {
  position: relative;
  margin: 10px;
  color: #808080;
}
.header__container .header__menu__item--count {
  position: absolute;
  color: #ffffff;
  font-size: xx-small;
  background-color: #dc3545;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  right: -2px;
  top: -2px;
}
.header__container a {
  position: relative;
  color: #000000;
}
.header__container .hamburg {
  position: absolute;
  right: 60px;
  display: none;
}

.dashboard {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 0px 10px;
}
.dashboard .dashboard__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 1200px;
}
.dashboard .dashboard__cards__item:nth-child(1) {
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  border-left: 3px #87ceeb solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
}
.dashboard .dashboard__cards__item:nth-child(2) {
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  border-left: 3px #3fc95a solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dashboard__cards__item:nth-child(3) {
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  border-left: 3px #494cb4 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dashboard__cards__item:nth-child(4) {
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  border-left: 3px #ffcb56 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.dashboard .dashboard__cards__item i {
  font-size: 30px;
  color: #808080;
}
.dashboard .dashboard__container__bottom {
  margin-top: 30px;
  display: flex;
}
.dashboard .dashboard__chartbox {
  position: relative;
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin-right: 20px;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.dashboard .dashboard__chartbox__title {
  margin: 0px;
  padding: 5px 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
}
.dashboard .dashboard__tasks {
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  margin-right: 40px;
  height: 130px;
}
.dashboard .dashboard__tasks__title {
  margin: 0px;
  padding: 5px 15px;
  background-color: #fafafa;
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
}
.dashboard .tasks__list__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 15px;
}
.dashboard .tasks__list__item h3 {
  margin: 0px;
}
.dashboard .tasks__list__item span {
  background-color: #007bff;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  color: #ffffff;
}
.dashboard .tasks__list__item:nth-child(1) span {
  width: 25px;
}

@media screen and (max-width: 768px) {
  .col-1 {
    width: 8.3333333333%;
  }

  .col-2 {
    width: 16.6666666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.3333333333%;
  }

  .col-5 {
    width: 41.6666666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.3333333333%;
  }

  .col-8 {
    width: 66.6666666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.3333333333%;
  }

  .col-11 {
    width: 91.6666666667%;
  }

  .col-12 {
    width: 100%;
  }

  .row {
    flex-wrap: wrap;
  }

  .header .header__menu,
.header .header__search {
    display: none;
  }
  .header .hamburg {
    display: block;
  }

  .dashboard__container {
    width: 90%;
  }

  .dashboard .dashboard__cards__item {
    margin: 0px;
  }
  .dashboard .dashboard__cards__item:nth-child(1) {
    margin-left: 10px;
  }
  .dashboard .dashboard__cards__item:nth-child(4) {
    margin-right: 10px;
  }
  .dashboard .dashboard__container__bottom {
    margin-left: 10px;
    padding-right: 20px;
  }
  .dashboard .dashboard__chartbox {
    margin-bottom: 40px;
  }
  .dashboard .dashboard__tasks {
    margin-right: 0px;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */